*   {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align:center;
    text-transform: uppercase;
}
body    {
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Helvetica Neue",Helvetica,Arial;
    
    background: rgb(229,242,251) url("./img/background.svg") no-repeat;
    background-size: 100%;
    color:rgb(53,107,171);
}

#presentation {
    font-size: 1.15rem;
    width:100vw;;
    height:5vh;
    padding:2em;
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items: space-evenly;
}

#guess {
    height:3vh;
    color:green;
    font-size:1.5rem;
    margin-bottom:5vh;
    font-weight:bold;
}

#capital-to-guess   {
    width:100vw;
    height:12vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2.5rem;
    font-weight:bold;
}

#stats  {
    width:100vw;
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

#earned-points, #current-set    {
    font-size : 1.25rem;
    font-weight:bold;
    padding:1rem;
}

#propositions   {
    width:65vw;
    height:34vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    margin-bottom:3vh;
}

button   {
    width:30vw;
    height:16vh;
    padding:2rem 3rem;
    background-color:rgb(53,107,171);
    color:white;
    border:5px solid white;
    border-radius: 6px;
    display:flex;
    justify-content: center;
    align-items:center;
    box-shadow: 10px 5px 5px rgb(141, 141, 141);
    outline: none;
    font-size:2rem;
    opacity:0.5;
}

#replay-btn {
    height:5vh
}

#propositions button:active   {
    background-color:rgb(41, 143, 251);
}

#final-screen   {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

div span {
    padding:1rem;
}

span.red    {
    color:red;
}

/*******************************************************/
/*******************************************************/
/*
*   {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:1.15rem;
}
body    {
    display:flex;
    justify-content: center;
    align-items: center;
}

ul  {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
li  {
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding:1rem;
}
img {
    width:12rem;
    margin: 0 auto;
    border:1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
    margin-bottom: 2rem;
}
*/